body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #146eb4;
}

.centered, .modal {
    text-align: center;
    background: #f2f2f2;
    padding: 2em;
    border-radius: 4px;
    color: #1A2130;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    display: none;
    padding: 0;
    padding-block-end: 2em;
}

input[type="text"] {
    padding: 10px;
    margin-right: 18px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    background: #ff9900;
    color: #232f3e;
}

input[type="text"]::placeholder {
    color: #232f3e;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
}

.isLoading {
    background-color: transparent;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin-block-start: 10px;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    color: #ffffff;
    background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
    border-radius: 50%;
    animation: l19 2s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    background:
      linear-gradient(currentColor 0 0) center,
      linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px,10px 100%;
    background-repeat: no-repeat;
  }
  .loader::after {
     transform: rotate(45deg);
  }
  
  @keyframes l19 { 
    100%{transform: rotate(1turn)}
  }

input[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ff9900;
    transition: 0.2s;
    color: #232f3e;
}

input[type="submit"]:hover, input[type="text"]:focus {
    transform: scale(1.1);
    outline: none;
}

.logo {
    width: 120px;
    height: 120px;
}